@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Della+Respira&display=swap');

.App {
  font-family: 'DM Mono', monospace;
  color: #2e5ea3;
  text-align: center;
}

@media (max-width: 479px) {
  .App {
    font-size: 0.8rem;
  }
}
